PORT=3001
API_KEY=troque_por_uma_chave_segura_aqui
TIMEZONE=America/Sao_Paulo
ALLOWED_ORIGIN=*
SUPABASE_URL=https://ojjfwxjirlttpxcjhlho.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qamZ3eGppcmx0dHB4Y2pobGhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyMjExMjcsImV4cCI6MjEwNDc5NzEyN30.QiBcBHLwS2yWbmgi_oAKSmRU1UEFNRXgfyLujmEK7XU
OWNER_PHONE=55XXXXXXXXXXX
